body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  background: white;
  color: #222;
}

article, .inner-content {
  width: 800px;
  margin: auto;
  box-sizing: border-box;
  padding: 20px 30px;
}

article {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 40px;
}

header {
  text-align: center;
  font-size: 32px;
  line-height: 60px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: top;
  flex-wrap: wrap;
  color: black;
}

header .name {
  font-family: 'Times', 'Times New Roman', serif;
  font-size: 1.5em;
  min-width: 240px;
  letter-spacing: 2px;
}

article a {
  color: #222;
  text-decoration: none;
  font-style: italic;
  line-height: 1em;
  vertical-align: middle;
}

article a:hover {
  background: #222;
  color: white;
}

ul {
  padding: 0;
  margin-top: 0.5em;
  list-style-type: '\27A2 ';
}

li {
  margin-bottom: 0.3em;
  padding-left: 4px;
}

h2 {
  font-size: 1.2em;
  padding-left: 4px;
  margin: 0;
}

article a:after {
  content: '🌐';
  margin-left: 4px;
  font-size: 0.7em;
  line-height: 1em;
  vertical-align: middle;
  text-decoration: none;
  display:inline-block;
}

article a.code:after {
  content: '🧩';
}
article a.attachment:after {
  content: '📎';
}

@media (max-width: 900px) {
  article, .inner-content {
    width: 100%;
  }
}

@media (max-width: 600px) {
  article, .inner-content {
    padding: 10px 20px;
  }
}
