body {
  font-family: Times, 'Times New Roman', sans-serif;
  margin: 0;
  padding: 0;
  background: white;
}

article, .inner-content {
  width: 800px;
  margin: auto;
  box-sizing: border-box;
  padding: 20px 30px;
}

article {
  padding-top: 0;
  padding-bottom: 0;
}

header {
  font-size: 32px;
  line-height: 60px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: top;
  flex-wrap: wrap;
}

header .name {
  font-size: 1.5em;
  min-width: 240px;
}

header .separator {
  flex: 1 1;
  text-align: center;
}

header .separator, header .section-name {
  color: #999;
}

article .title {
  font-weight: bold;
  margin-right: 0.5em;
  color: black;
}

article .description {
  color: #222;
}

article a {
  font-weight: bold;
  text-decoration: none;
  padding: 2px;
  color: black;
  white-space: nowrap;
}

article a:after {
  content: '🌍';
  margin-left: 4px;
  font-size: 0.7em;
}

article a.words:after {
  content: '💬';
}

article a.code:after {
  content: '🤓';
}

article a.photos:after {
  content: '📸';
}


article a.rose:after {
  content: '🌹';
}

article a.chart:after {
  content: '📈';
}

article a.acquisition:after {
  content: '💰';
}

article a.compass:after {
  content: '🧭';
}

article a:hover:after {
  content: '🌐';
}

@media (max-width: 900px) {
  article, .inner-content {
    width: 100%;
  }
}

@media (max-width: 600px) {
  article, .inner-content {
    padding: 10px 20px;
  }
}
