body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  background: white;
  color: #222;
}

body.hideText {
  color: rgba(0,0,0,0);
}
body.hideText a, body.hideText header, body.hideText .modeSwitch {
  color: rgba(0,0,0,0);
}
.modeSwitch {
  color: black;
  cursor: pointer;
  text-align: center;
  position: fixed;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  bottom: 0;
  padding: 10px 0;
  text-decoration: underline;
}
article, article > .modeSwitch {
  background: inherit;
}

.canvas {
  width: 90px;
  margin: auto;
  height:  90px;
  border-radius: 45px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  align-items: center;
}

.row .grow {
  flex: 1 1;
}

.links {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.links.right {
  text-align: right;
}

article, .inner-content {
  width: 800px;
  margin: auto;
  box-sizing: border-box;
  padding: 20px 30px;
}

article {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 20px;
  margin-bottom: 40px;
}

header {
  text-align: center;
  font-size: 32px;
  line-height: 60px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: top;
  flex-wrap: wrap;
  color: black;
}

header .name {
  font-family: 'Times', 'Times New Roman', serif;
  font-size: 1.5em;
  min-width: 240px;
  letter-spacing: 2px;
}

header .separator {
  flex: 1 1;
  text-align: center;
}

header .separator, header .section-name {
  color: #999;
}

article .title {
  font-weight: bold;
  margin-right: 0.5em;
}

article a {
  white-space: nowrap;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

article a:after {
  content: '🌐';
  margin-left: 2px;
  font-size: 0.7em;
  line-height: 1em;
  text-decoration: none;
  display:inline-block;
}

article a.code:after {
  content: '🧩';
}

@media (max-width: 900px) {
  article, .inner-content {
    width: 100%;
  }
}

@media (max-width: 600px) {
  article, .inner-content {
    padding: 10px 20px;
  }
}
