body {
  font-family: 'Helvetica Neue';
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:before {
  content: '♦';
  font-size: 15px;
}
a:hover {
  text-decoration: underline;
}
.block {
  width: 100%;
  position: relative;
  background: white;
  padding-top: 60px;
  padding-bottom: 60px;
}
.block h2 {
  width: 100%;
  box-sizing: border-box;
  padding-right: 60px;
  margin-top: 0;
  padding-left: 400px;
  font-size: 40px;
  color: #222;
}
.block.right h2 {
  padding-left: 60px;
  padding-right: 450px;
}
.block p {
  width: 100%;
  box-sizing: border-box;
  padding-right: 60px;
  padding-left: 400px;
  font-size: 40px;
  text-align: justify;
  font-size: 26px;
  color: #666;
}
.block.right p {
  padding-left: 60px;
  padding-right: 400px;
}
.refs {
  padding: 100px;
}
#apps_portfolio {
  height: 160px;
}
.underlay {
  background: rgba(255,255,255,.5);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.refs img {
  height: 160px;
  float: left;
  margin-right: 20px;
}
#welcome {
  color: #333;
  font-family: 'Pacifico';
  box-sizing: border-box;
  padding: 10px 60px;
}
#welcome h1 {
  font-size: 102px;
  margin: 0;
}
.name {
  font-family: 'Helvetica Neue';
  font-size: 1.2em;
}
#phone {
  background: url("imgs/iphone.png");
  height: 600px;
  width: 320px;
  background-size: 100%;
  position: absolute;
  left: 20px;
  bottom: 0px;
}
#lang {
  background: url("imgs/HM.png");
  height: 243px;
  width: 331px;
  background-size: 100%;
  position: absolute;
  right: 40px;
  bottom: 200px;
}
#github {
  background: url("imgs/opensource.png");
  height: 595px;
  width: 362px;
  background-size: 100%;
  position: absolute;
  left: 20px;
  bottom: 100px;
}
#cube {
  height: 297px;
  width: 288px;
  background-size: 100%;
  position: absolute;
  right: 40px;
  bottom: 200px;
  background: url("imgs/rubiks.png");
}
#footer {
  height: 200px;
}

@media (max-width: 900px) {
  #welcome {
    padding: 20px;
    margin: 0;
  }
  #welcome h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
  }
  .block p, .block.right p, .block h2, .block.right h2 {
    padding: 20px;
    margin: 0;
  }
  .block, .block.right {
    margin: 0;
    padding: 0;
  }
  #lang, #phone, #github, #cube {
    display; none;
    left: -1000px;
  }
}
@media (max-width: 600px) {
  .block p {
    text-align: left;
  }
  #welcome {
    text-align: center;
  }
  #welcome h1 .dots {
    display: none;
  }
  a:before {
    content: '';
  }
  a {
    text-decoration: underline;
  }
}
